@tailwind base;
@tailwind components;
@tailwind utilities;

.top-bar {
    background-color: #e7f2ff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.top-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-item {
    
    margin-right: 60px !important;
    display: flex !important;
    align-items: center !important;
    font-size: 12px !important;
    color: #453737 !important;
}

.top-bar-icon {
    margin-left: 10px;
    color: #453737 !important;
}

.social-media-icon-wrapper{
    position:absolute !important;
    right: 5px !important;
    display: flex !important;
    margin-bottom: 1px !important;
}

.logo {
    height: 40px;
    /* left:10px; */
    position: absolute;
}
.nav-btn-wrapper{
    display: flex;
    width: 100vw;
    justify-content: center !important;
    align-items: center !important;
}
.navbar{
    background-color: #fff !important;
}

.nav-link {
    margin-left: 15px !important;
    font-size: 16px !important;
    padding: 10px !important;
    color: #333 !important;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.menu-icon{
    color:rgb(193, 193, 157) !important;

    border-radius: 10px;
}

@media (max-width: 600px) {
    .top-bar-item {
        font-size: 12px;
        margin-right: 10px;
    }

    .nav-link {
        font-size: 14px;
        margin-left: 10px;
    }

    .logo {
        height: 35px;
    }
}


.header-icon{
    color: rgb(67, 67, 127);
}


.menu-icon-wrapper{
    position: absolute !important;
    right: 5px ;
}
/* 
.contact-wrapper{
    position: absolute !important;
    left: 5px !important;
} */