@tailwind base;
@tailwind components;
@tailwind utilities;

.top-bar {
  background-color: #ee4d37 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.top-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar-item {
  margin-right: 50px !important;
  display: flex !important;
  align-items: center !important;
  font-size: 12px !important;
  color: #fdfdfd !important;
}

.top-bar-icon {
  margin-left: 10px;
  color: #ffffff !important;
}

.social-media-icon-wrapper {
  position: absolute !important;
  right: 25px !important;
  display: flex !important;
  margin-bottom: 1px !important;
}

.logo {
  height: 43px;
  /* left:10px; */
  position: absolute;
}

.nav-bar-wrapper {
  position: fixed;
  width: 100vw;
  z-index: 100;
  top: 0px;
}

.nav-btn-wrapper {
  display: flex;
  width: 100vw;
  justify-content: center !important;
  align-items: center !important;
}
.navbar {
  background-color: #fff !important;
}

.nav-link {
  margin-left: 15px !important;
  font-size: 18px !important;
  padding: 10px !important;
  color: #333 !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}

.nav-link:hover {
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: #ef371f30 !important;
  border-radius: 4px;
}

.menu-icon {
  color: rgb(193, 193, 157) !important;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .top-bar-item {
    font-size: 12px;
    margin-right: 10px;
  }

  .nav-link {
    font-size: 14px;
    margin-left: 10px;
  }

  .logo {
    height: 35px;
  }
}

.header-icon {
  color: rgb(255, 255, 255);
}

.menu-icon-wrapper {
  position: absolute !important;
  right: 20px;
}

/* Submenu styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
}

.submenu {
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 20px 45px #00000020;
  border-radius: 10px;
  list-style: none;
  padding: 5px;
  width: 250px;
  align-items: center;
  opacity: 0;
  top: -1000px;
  height: 0;
  overflow: hidden;
  z-index: 10000;
  transition: opacity 1s ease, height 1s ease;
  min-width: 200px;
}

.dropdown:hover .submenu {
  opacity: 1;
  top: 45px;
  height: 575px;
}

.submenu li a {
  margin: 0;
}

.submenu li a {
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  color: #000000;
  transition: background-color 0.5s ease;
}

.submenu li a:hover {
  background-color: #f1f1f1;
  color: #ee4d37;
}

.product-card {
  position: absolute;
  /* top: 0; */
  right: 100%;
  background-color: #fff7b7;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: -70px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: auto;
  height: auto;
  min-width: 300px;
  display: none;
  z-index: 1000;
  color: black;
}

.submenu-item h4 {
  font-weight: 700;
  color: #333;
}

/* Show card on hover */
.submenu-item:hover .product-card {
  display: block;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.menu-products-btn {
  box-shadow: none !important;
  border: none !important;
  width: 200px !important;
  padding: 0px !important;
  margin: 0px !important;
}

.menu-btns {
  width: 200px;
}

.menu-product-item {
  text-align: left;
  padding: 5px 10px;
  background-color: #fbf4eb;
  border-bottom: 1px solid hsl(53, 43%, 45%);
}

.menu-product-item:hover {
  background-color: #ebe4d9;
}

.menu-products-wrapper {
  padding: 0px 5px !important;
}

.successMessage {
  color: green;
}

.benefits {
  background: linear-gradient(to right, #130000, #657c8d) !important;
}

.benefits-text {
  background: linear-gradient(to right, #a7a7cb, #a7bfda, rgb(187, 247, 220));
  -webkit-background-clip: text;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important; */
  -webkit-text-fill-color: transparent;
}

.test {
  background-color: linear-gradient(
    to right,
    #373745,
    #25486f,
    rgb(160, 161, 161)
  );
}

.hiddenRight {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}
.hiddenLeft {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.hiddenblur {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}
.hiddenTop {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: all 1s;
}
.hiddenDown {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 1s;
}
.showX {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
.showY {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}
.overflowXhide {
  overflow-x: hidden;
}